@charset "UTF-8";
/* =CALL LIBRARY */
	@import url("reset-min.css"); /* ------- Reset all CSS Styles */

/* =GENERAL - the general styles */
	body{
		font: 62.5%/2.2em "Lucida Grande", Tahoma, Verdana, Arial, Helvetica, sans-serif;
		color: #4b4942;
		background: #fff;

   /* background-image: url('../images/back.png');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: left;
	}
	a{text-decoration: none;color: ##1916c6; font-size: 15px;}
	a:hover{color: #bb800f;}
	hr{display: none;}
	strong{font-weight: bold;}
	ul.borderedlist li{
		border-bottom: 1px dashed #d1cfcd;
	}
	ul.borderedlist li a{
		display: block;
		padding:3px 0 0 2px;
		height: 26px;
		color: #42423b;
	}
	ul.borderedlist li a:hover{background: #E5E5E4;color: #42423b;}

/*side navigation*/
	body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 6px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* =LAYOUT - the main layout styles */
	.container{
		width:900px;
		margin: 0 auto;
		position: relative;
		overflow:hidden;
	}
	/* header layout */
	#header{
		height: 253px;
		background: #4a4841 url(../images/top_bg.jpg) top repeat-x;
		position: relative;
	}
	#navigation{
		right: 0;
		top:10px;
	}
	/* main area layout */
	#main{padding:24px 0 20px 0;}
	#leftcolumn{float: left;width:193px;}
	#center{float: left;width:380px;padding: 0 20px;}
	#rightcolumn{float: left;width:287px;}
	/* bottom layout */
	#bottominfo{
		border-top: 5px solid #42423b;
		background: #f1eee7;
		padding-bottom:25px;
		width: 100%;
		overflow: hidden;
	}
	.bottomcolumn{
		float: left;
		width:288px;
		margin-right: 18px;
	}
	.bottomright{margin-right:0;}
	
/* =HEADER - the header styles */
	#header .container{height: 253px;}
	/* logo */
	h1{
		position: absolute;
		height: 71px;
	}
	h1 a{
		font: 24px/24px Arial, Helvetica, sans-serif;
		font-weight: bold;
		letter-spacing: -2px;
		padding: 22px 9px 25px 20px;
		width: 300px;
    /*margin-top: 53px;*/
		display: block;
		color: #fff;
		background: url(../images/logo1) left top no-repeat;
	}
	h1 a:hover{color: #fff;}
	h1 a span{
		height:71px;
		width: 13px;
		position: absolute;
		top:0;
		/*margin-top: 53px;*/
		right: -13px;
		cursor: pointer;
		background: url(../images/logo_right.gif) right top no-repeat;
	}
	
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				background-color: #333;
				padding-bottom: 10px;
    			padding-top: 10px;
    			margin-bottom: 10px;
			  }
			  
			  #navigation li {
				float: right;
			  }
			  
			  li a {
				display: block;
				color: white;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
			  }
			  
			  li a:hover {
				background-color: #111;
			  }

	.leftbox li {
		float: center;
	}
	
/* =CONTENT - the content styles */
	/* left column */
	.leftbox{background: #f1f0ef;padding: 10px 23px 10px 23px;margin-bottom:3px;line-height:1.8em;}
	h3.leftbox{font-size:19px;color: #eeeded; background: #333333 url(../images/h3_bg_tall.jpg) 0 0 repeat-x;padding:5px 0 10px 23px;}
	h3.header_small{font-size:15px;font-weight: bold;background: #333333;padding:0 23px 5px 23px;}
	ul.leftbox{font-size: 1.2em;}

	.features{padding-top:15px;font:1.27em Arial, Helvetica, sans-serif;}
	
	#leftcolumn .leftbox p{padding-bottom:1em;line-height:1.5em; font-size:12px}	
	
	/* center column */
	.article_wrapper h2{color: #black; font-size:2em;margin:10px 0;}
	.article_wrapper p{color: #black; padding-bottom:10px;font-size:1.3em;}	
	
	/* right column */
	.rightbox_wrapper{
		background: #eeeded;
		padding:5px;
		margin-bottom: 20px;
		width:277px;
		overflow: hidden;
		font-size:11px;
		line-height: 18px;
		color: #58584D;
	}
	.rightbox{border: 1px dashed #d9e0e8;width:275px;overflow: hidden;padding-bottom:6px;}
	.product_image{ float: left;margin: 6px 0 0 6px;}
	.product_wrapper{float: right;width:200px;}
	.product_wrapper h4{font-size:1.3em;color: #483F3D;font-weight: bold;padding-top:10px;}
	.product_wrapper p{font-size:1em;}
	.lastbox{margin:0;}
	
/* =BOTTOM */
	.bottomcolumn h3{
		border-bottom: 4px solid #9b968f;
		color: #5699A7; font-size:18px;padding:15px 0 5px 5px;
	}
	.bottomcolumn p{
		padding: 10px 35px 10px 5px;
		font-size: 1.2em;
	}
	.iconlist{
		border-top: 1px dashed #d1cfcd;
		font-size: 1.2em;
	}
	ul.iconlist li a{
		padding-left: 25px;
		background: url(../images/footer_list.jpg) left bottom no-repeat;
	}
	ul.iconlist  li a:hover{background: #E9E4DE url(../images/footer_list.jpg) left top no-repeat;color: #42423b;}
	.enewsbox{
		float: left;
		width: 180px;
		height: 17px;
		padding:3px 5px;
		border: 4px solid #5599A7;
		font-size:13px;
	}
	.button{
		display: block;
		float: left;
		width: auto;
		line-height:1em;
		text-align: center;
		background: #659AA6;
		border: 4px solid #fff;
		color: #fff;
		cursor: pointer;
		margin:0;
		padding:3px 8px; /* IE6 */
	}

/* Adding the styling for the About page */
	body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  font-size: 15px;
}


@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
 /* Applying styling for the About page */
 * {
  box-sizing: border-box;
}
.about-section h1 {
	font-size: large;
  padding-left: 650px;
}

.about-section h2 {
	font-size: medium;
}
.about-section p {
	font-size: 12px;
}

.teamh2 {
	text-align:center;
	font-size: 19px;
	}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #333333;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  /*background-color: #f2f2f2;*/
  padding: 10px;
}


/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#main-footer {
	padding-left: 540px;
	background-color: #333;
	color: white;
	font-size: medium;
}

.social {
	padding-left: 130px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}